        /* body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        } */
        #about {
            max-width: 900px;
            padding: 40px;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        h1 {
            font-size: 32px;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .icon {
            font-size: 24px;
            margin-right: 10px;
        }
        /* Estilos para los íconos específicos */
        .html-icon {
            color: #e67300; /* Azul */
        }
        .css-icon {
            color: #2965f1; /* Azul oscuro */
        }
        .js-icon {
            color: #f0db4f; /* Amarillo */
        }
        .python-icon {
            color: #306998; /* Azul oscuro */
        }
        .react-icon {
            color: #61dafb; /* Azul claro */
        }
        .ai-icon {
            color: #b76fff; /* Morado */
        }
        .next-icon {
            color: #000; /* Negro */
        }
        .mysql-icon {
            color: #f29111; /* Naranja */
        }
        .office-icon {
            color: #0078d4; /* Azul */
        }
        .firebase-icon {
            color: #ffcb2b; /* Amarillo */
        }