body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

#contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.contact-form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-with-icon input,
.input-with-icon textarea {
    width: 100%;
    padding-right: 30px; /* Espacio a la derecha para el icono */
}

.input-with-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #7b1fa2;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #7b1fa2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #5e0e86;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

/* Animaciones */
