body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#mini-menu {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mini-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#mini-menu a:hover {
    background-color: #555;
}

.container-secundario {
    display: inline-block;
    width: 50%; /* Ocupa el 40% del ancho del contenedor padre */
    margin-left: -1%; /* Márgen izquierdo para separar del contenedor principal */
    vertical-align: top; /* Alinea en la parte superior */
    box-sizing: border-box; /* Incluye el padding y border en el width */
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 768px) {
    .container-principal,
    .container-secundario {
        display: block;
        width: auto;
        margin-left: 0;
    }
}

.container-secundario .header {
    margin-bottom: 40px;
}

.container-secundario #secundario {
    font-size: 18px;
    line-height: 1.6;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 28px;
    color: #333333;
}

.linea-separadora {
    flex: 1;
    height: 1px;
    background-color: #cccccc;
    margin: 0 20px;
}

#secundario {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
}

/* Estilos para el contenido dinámico dentro del contenedor secundario */
#secundario p {
    margin-bottom: 20px;
}

#secundario ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

#secundario li {
    margin-bottom: 10px;
}
